body {
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    line-height: 1;
}

main{
    margin-left:5%;
    margin-right:5%
}

header{
    height:60px;
    background-color: rgb(36, 122, 118);
    text-align: center;   
}

h1{
    padding-top:5px; padding-bottom: 5px;
    color:cornsilk;
}

form{
    margin-right:5px;
}

button{
    margin-top: 5px;
    margin-bottom: 5px;
    width:100%;
    text-align:center;
}

input,h3, button{
    display:block;
    margin-top:4px;
    margin-bottom: 4px;
}

input{
    width:100%;
}

.main-row{
    margin-left:10px;
    margin-right:10px;
}

.a,.b{
    border:1px solid rgb(55, 75, 70);   
}

.fc-div
{
    width:20%;
    background-color: rgb(57, 94, 91);
    color:white
}

.fc-row
{
    text-align: center;
}

.hide{
    display:none;
}

#search-form div{
    border-top: 1px solid rgb(55, 75, 70);
}

#uvi{
    padding-left:2px;
    padding-right: 2px;
    border-radius: 2px;
}

#display-section{
    margin-top: 10px;
}